.hero_section {
    height: 100vh;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section > video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -5;
}
.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #eee;
}
.hero_title {
    font-size: 6.5rem;
    font-weight: 700;
}
.hero_subtitle {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}