header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    z-index: 2;
    position: sticky;
    top: 0;
    font-size: 1.1rem;
    transition: all 0.5s ease-in;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;

}
.navbar a {
    text-decoration: none;
    color: inherit;
}
.navbar_contents_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar_logo {
    height: 2rem;
}
.navbar_logo > a > img {
    height: 100%;
}
.menu_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.menu_contents > li {
    padding: 1rem;
}
.menu_contents > li:hover {
    color: #fff;
    cursor: pointer;
}
.navbar_button {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: background 0.3s ease-in;
}
.navbar_button:hover {
    cursor: pointer;
    color: #303030;
    background: rgba(243, 243, 243, 0.9);

}
/* .navbar {
    margin: 0 auto;
} */
.navbar_hamburger {
    display: none;
}
.color_change {
    background: rgba(41, 41, 41, 0.8);
}

@media screen and (max-width: 768px) {
    .navbar_hamburger {
        display: block;
    }
    .navbar_contents_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -400%;
        opacity: 0;
        right: -50%; /* -140% */
        transform: translateX(-50%);
        gap: 2rem;
        width: 100%;
        padding: 2rem;
        z-index: -1;
        background: rgba(41, 41, 41, 0.9);
        transition: all 0.5s ease-in;
    }
    .menu_contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 100px;
    }
    .navbar_mobile {
        top: -60%;
        opacity: 1;
    }
}