@mixin white-gradient {
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 50s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


body {
  margin: 0;
  padding: 0;
  background: #e3e3e3;
}

.slider {
  font-size: 2rem;
  background: #eee;
  height: 450px;
  width: 100vw;
  margin-top: 30vh;
  position: relative;

  &::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 450px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
  &::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

  .slider-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
  .slide {
    height: 450px;

    img {
      height: 100%;
    } 
  }
}